<div class="nav-top d-flex justify-content-center align-items-center">
  <div class="display-4"><%= name %></div>
</div>
<nav class="navbar navbar-light bg-white">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <!-- logo -->
      <a
        class="navbar-brand mr-5 d-flex justify-content-center align-items-center"
        href="/"
      >
        <img src="/images/icon.png" width="40" height="40" alt="" />

        <div class="navbar-brand-text ml-2"> Beddit </div>
      </a>

      <!-- sort -->
      <%- include('../partials/sort') %>
    </div>

    <!-- post search -->
    <form id="form-search" action="/search/" method="post">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="query"
          placeholder="Find a post"
          required
        />
        <div class="input-group-append">
          <button class="btn btn-secondary submit" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- user -->
    <div id="user-info">
      <% if(user) { %>
      <!-- Example single danger button -->
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><span id="user"><%= user %></span></button
        >
        <div class="dropdown-menu dropdown-menu-right">
          <h6 class="dropdown-header"
            >Karma: <span id="karma"><%=karma%></span></h6
          >
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="/u/<%=user%>">Profile</a>
          <a class="dropdown-item" href="/settings">Settings</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
      <% } else { %>
      <a class="btn btn-success" href="/login" id="user-settings">Sign in</a>
      <% } %>
    </div>
  </div>
</nav>
