<div class="subreddit-wrapper my-3 bg-white">
  <!-- subreddit header -->
  <div
    class="subreddit-header d-flex justify-content-between align-items-center p-3 border-bottom"
  >
    <div class="subreddit-count mb-0"
      >Subbeddits (<%=subreddits ? subreddits.length : 0 %>)</div
    >

    <a class="auth-req" href="/submit/subreddit" id="create-subreddit"
      >Create subbeddit</a
    >
  </div>

  <div class="subreddit-content px-3 py-4">
    <% if (subreddits) { subreddits.forEach((subreddit) => { %> <% if
    (subreddit.name.length > 30){ %>
    <div>
      <a class="text-dark" href="/r/<%= subreddit.name %>"
        >/r/<%= subreddit.name.substring(0,30) %>...</a
      >
    </div>

    <% } else{%>
    <div>
      <a class="text-dark" href="/r/<%= subreddit.name %>"
        >/r/<%= subreddit.name %></a
      >
    </div>
    <% }%> <% }) %> <% if(!subreddits.length) { %>
    <span> You are not subscribed to any </span>
    subbeddit <% } %> <% } %>
  </div>
</div>
