<div class="subreddit bg-white">
  <div class="text-center border-bottom mb-0 p-3"
    >Subbeddits (<%=subreddits.length%>)</div
  >

  <div class="subreddit-content px-3 py-4">
    <% if (subreddits) { subreddits.forEach((subreddit) => { %> <% if
    (subreddit.name.length > 30){ %>
    <div>
      <a class="text-dark" href="/r/<%= subreddit.name %>"
        >/r/<%= subreddit.name.substring(0,30) %>...</a
      >
    </div>

    <% } else{%>
    <div>
      <a class="text-dark" href="/r/<%= subreddit.name %>"
        >/r/<%= subreddit.name %></a
      >
    </div>
    <% }%> <% }) %> <% if(!subreddits.length) { %> You are not subscribed to any
    subbeddit <% } %> <% } %>
  </div>
</div>
