<html>
    <title><%= info.name %></title>
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/nav', {user: locals.user}) %>
    <%- include('../partials/jumbotron', {name: info.name}) %>
    <span id="auth"><%= isAuth %></span>

    <div class="grid-container">
        <div class="sidebar">
                <%- include('../partials/sidebar_subreddit_actions', {name: info.name, state: state}) %>

                <%- include('../partials/sidebar_subreddit_info', {desc: info.description}) %>
        </div>

        <div class="main">
            <h3>new post</h3>
            <div class="submit-wrapper">
                    <% if(!locals.user) { %>
                        You must be logged in to submit a post / link / subreddit.
                    <% } else { %>      
                <form action="/r/<%= info.name %>/submit/post" method="post">
                    <input type="text" class="form-control" name="title" placeholder="Enter title" required><br>
                    <textarea class="form-control" rows="5" name="body" placeholder="Enter body" required></textarea><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% } %>

            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="/js/index.js"></script>
</body>
</html>