<html>
    <title><%= info.name %></title>

<% include partials/head %>

<body>
    <% include partials/nav %>
    <span id="auth"><%= isAuth %></span>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center" id="subreddit-name">
                <%= info.name %>
            </h1>
        </div>
    </div>

    <div class="grid-container">
        <div class="sidebar subarea edit-area">
            <div class="area-overlap actions">
                <input class="form-control block" placeholder="Search for post"><br>
                <a class="btn btn-block btn-success" href="/r/<%=info.name%>/submit/link" id="submit-link">Submit new link</a><br>
                <a class="btn btn-block btn-primary" href="/r/<%=info.name%>/submit/post" id="submit-post">Submit new post</a><br>
                <a class="btn btn-block btn-light" href="/subscribe/<%=info.name%>" id="submit-post">Subscribe</a><br>
            </div>

            <div class="subscribed">
                <%- include('partials/sidebar_info', {desc: info.description}) %>
            </div>
        </div>

        <div class="main">
            <div class="comment-wrapper">

                <article data-ref="<%= post._id %>">
                    <div class="arrows">
                        <div class="upvote-post auth-req"><i class="far fa-caret-square-up"></i></div> 
                        <span class="votes" data-ref="<%= post._id %>"><%= post.votes %></span>
                        <div class="downvote-post auth-req"><i class="far fa-caret-square-down"></i></div>
                    </div>

                    <div class="info">
                        <header>
                            <% if(post.type == "post") { %>
                            <a href="/r/<%= post.subreddit %>/<%= post._id %>"><%= post.title %></a>
                            <%  } else { %>
                            <a href="<%= post.link %>"><%= post.title %></a>
                            <% } %>

                        </header>
                        submitted 
                        <time title="<%= post.time %>">-</time>  by 
                        <span><a href="/u/<%= post.username %>"><%= post.username %></a></span> from 
                        <span><a href="/r/<%= post.subreddit %>">/r/<%= post.subreddit %></a></span>
                        
                        <p class="border border-primary">
                                <% if(post.type == "post") { %>
                                <%= post.body %>
                                <%  } else { %>
                                <%= post.link %>
                                <% } %>
                            </p>
                    </div>
                </article>
                    
            </div>
            <h3> Comments </h3>
            <div class="submit-wrapper">
                <% if(!isAuth) { %>
                    You must be logged in to leave a comment
                <% } else { %>
                <form action="/r/<%=info.name%>/<%= post._id %>/comments" method="post">
                    <textarea class="form-control" name="comment" rows="2" placeholder="Comment here ..." required
                        maxlength="150"></textarea>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <% }; %>
            </div>
            <hr>
            <% if (comments != undefined) { 
                    comments.forEach((comment) => { %>

            <div class="comment-wrapper">
                <article data-ref="<%= comment._id %>">
                    <ul>
                        <li><span><a href="/u/<%= comment.username %>"><%= comment.username %></a></span></li> • 
                        <li><span id="comment-votes"><%= comment.votes %></span> points</li> • 
                        <time title="<%= comment.time %>">-</time> </li>
                    </ul>
                        <%= comment.body %>
                    <ul>
                        <li>
                            <i class="far fa-caret-square-up upvote-comment auth-req"></i>
                            <i class="far fa-caret-square-down downvote-comment auth-req"></i>
                        </li>   
                        <li><span><a href="javascript:void(0)" class="auth-req">reply</a></span></li>
                        <li><span><a href="javascript:void(0)" class="auth-req">save</a></span></li>

                        <% if(isAuth) { %>
                        <li><span><a href="javascript:void(0)" class="edit-comment auth-req">edit</a></span></li>
                        <li><span><a href="javascript:void(0)" class="delete-comment auth-req">delete</a></span></li>
                        <% } %>


                    </ul>
                </article>
            </div>
            <% });%>
            <% } else { %>
            There are no comments.
            <% } %>

            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/post.js"></script>
        <script src="/js/comment.js"></script>

</body>

</html>