<html>
<% include partials/head %>

<body>
    <% include partials/nav %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center" id="subreddit-name">
                <%= info.name %>
            </h1>
        </div>
    </div>

    <div class="grid-container">
        <div class="sidebar subarea edit-area">
            <div class="area-overlap actions">
                <%- include('partials/sidebar_actions', {name: info.name}) %>
            </div>

            <div class="subscribed">
                <%- include('partials/sidebar_info', {desc: info.description}) %>
            </div>
        </div>

        <div class="main">
                <% if (posts != undefined) { 
                    posts.forEach((post) => { %>
            <article>
                <div class="arrows">
                    <i class="far fa-caret-square-up" id="up"></i>
                    <span id="votes">
                        <%= post.votes %></span>
                    <i class="far fa-caret-square-down" id="down"></i>
                </div>

                <div class="info">
                    <header>
                        <% if(post.type == "post") { %>
                        <a href="/r/<%= post.subreddit %>/<%= post._id %>"><%= post.title %></a>
                        <%  } else { %>
                        <a href="<%= post.link %>"><%= post.title %></a>
                        <% } %>

                    </header>
                    submitted 
                    <span><%= post.time %></span> by 
                    <span><a href="/u/<%= post.username %>"><%= post.username %></a></span> from 
                    <span><a href="/r/<%= post.subreddit %>"><%= post.subreddit %></a></span>
                    <ul>
                        <li><a href="/r/<%=info.name%>/<%= post._id %>/comments">comments</a></li>
                        <li><a href="/r/<%=info.name%>/<%= post._id %>/save">save</a></li>

                        <% if(post.username == "isaychris") { %>
                        <li><a href="/r/<%=info.name%>/<%= post._id %>/delete">delete</a></li>
                        <% } %>

                    </ul>
                </div>
            </article>
            <% });%>
            <% } else { %>
            There are no posts.
            <% } %>
        </div>
</body>

</html>